body {
  font-family: $font-main;
  // background-color: var(--body);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  transition: color 250ms ease;
}
