$color-accent: #ff6b08;
$white-text-color: #ffffff;
$black-text-color: #000000;
$hover-rating-color: #ff6b01;
$button-header-library: rgba(255, 107, 1, 0.6);
$duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1); ;
