.random-btn {
    position: absolute;
    background-color: transparent;
    top: 80px;
    left: 20px;

    // color: var(--mainWhite);
    @media screen and (min-width: 400px) {
        left: calc((100vw - 480px + 120px) / 2);
        top: 115px;
    }

    @include tablet {
        left: calc((100vw - 768px + 350px) / 2);
        top: 110px;
    }

    @include desktop {
        left: calc((100vw - 1280px + 800px) / 2);
        top: 110px;
    }
}

.random-svg {
    fill: var(--mainWhite);
    transition: fill 350ms linear;
}

.random-svg:hover {
    fill: var(--accent);
    animation: shake 250ms 4;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(15deg);
    }

    100% {
        transform: rotate(0deg);
    }
}



.modal-random {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    width: 240px;
    background-color: #f7f7f7;
    border-radius: 15px;

    @include tablet {
        width: 300px;
        border-radius: 25px;
    }

    @include desktop {
        margin: -30px;
        width: 400px;
    }
}

.modal-btns {
    display: flex;
    width: 100%;
    margin-top: 10px;
    justify-content: space-around;
}