@import './base/variables';
@import './base/common';
@import './base/fonts';
@import './base/reset';
@import './base/mixins';

@import './components/btn';
@import './components/pagination';

@import './header/header';
@import './header/form';

@import './main/main';

@import './modal/modal';

@import './footer/footer';

 @import './headerLibrary';
