@import './base/variables';
@import './base/common';
@import './base/fonts';
@import './base/reset';
@import './base/mixins';

@import './components/btn';
@import './components/pagination';
@import './components/scroll';
@import './header/header';
@import './header/form';

@import './header/headerLibrary';

@import './main/main';

@import './modal.style/modal';

@import './footer/footer';
@import './footer/footer-modal';
