.modal-container {
  position: relative;
  display: flex;
  width: 806px;
  height: 558px;
  background-color: #ffffff;
}

.modal-container {
}
.close-btn {
    position: absolute;
      top: 8px;
      right: 8px;
    
      transform: rotate(0);
      transition: transform 250ms ease-in;
    
      & svg {
    
        fill: #000000;
      }
    
      &:hover svg,
      &:focus svg {
        fill: #000000
      }
    
      &:hover {
        transform: rotate(90deg);
      }
}
.trailer-btn {
}
.modal-poster {
}
.modal-title {
}
.film-stats {
}
.list {
}
.modal-categories {
}
.modal-categories-item {
}
.modal-stats {
}
.modal-stats-item {
}
.modal-vote-average {
}
.modal-vote-count {
}
.about-title {
}
.modal-overview {
}
.modal-btns-wrap {
}
.btn {
}
.modal-watched-btn {
}
.modal-queue-btn {
}
