<div class="backdrop-team hidden" data-modal>
  <div class="footer-modal-group">
    <button
      type="button"
      class="modal-close-footer modal-close"
      data-modal-close
    >
      <img src="./images/close.svg" alt="close" />
    </button>
    <h2 class="team-name">Top Team</h2>
    <ul class="group list">
      <li class="group__item">
        <div class="img-wrap">
          <img
            class="group__item-photo"
            src="./images/1.jpg"
            alt="photo"
            width="255px"
          />
        </div>
        <div class="participant-info">
          <p class="participant-info__name">Бернатович Ярослав</p>
          <p class="participant-info__role">Team-Lead</p>
          <a target="_blank" class="git" href="https://github.com/yabr87">
            <img class="git-image" src="./images/github.png" alt="git" />
          </a>
        </div>
      </li>
      <li class="group__item">
        <div class="img-wrap">
          <img
            class="group__item-photo"
            src="./images/22.jpg"
            alt="photo"
            width="255px"
          />
        </div>
        <div class="participant-info">
          <p class="participant-info__name">Семашко Віталій</p>
          <p class="participant-info__role">Scrum-master/Developer</p>
          <a target="_blank" class="git" href="https://github.com/vitsemashko">
            <img class="git-image" src="./images/github.png" alt="git" />
          </a>
        </div>
      </li>
      <li class="group__item">
        <div class="img-wrap">
          <img
            class="group__item-photo"
            src="./images/33333.jpg"
            alt="photo"
            width="255px"
          />
        </div>
        <div class="participant-info">
          <p class="participant-info__name">Книш Вячеслав</p>
          <p class="participant-info__role">Developer</p>
          <a target="_blank" class="git" href="https://github.com/SlaVikkk63">
            <img class="git-image" src="./images/github.png" alt="git" />
          </a>
        </div>
      </li>
      <li class="group__item">
        <div class="img-wrap">
          <img
            class="group__item-photo"
            src="./images/4.jpg"
            alt="photo"
            width="255px"
          />
        </div>
        <div class="participant-info">
          <p class="participant-info__name">Малярчик Альона</p>
          <p class="participant-info__role">Developer</p>
          <a
            target="_blank"
            class="git"
            href="https://github.com/AlonaMaliarchyk"
          >
            <img class="git-image" src="./images/github.png" alt="git" />
          </a>
        </div>
      </li>
      <li class="group__item">
        <div class="img-wrap">
          <img
            class="group__item-photo"
            src="./images/10.jpg"
            alt="photo"
            width="255px"
          />
        </div>
        <div class="participant-info">
          <p class="participant-info__name">Ільченко Євгенія</p>
          <p class="participant-info__role">Developer</p>
          <a
            target="_blank"
            class="git"
            href="https://github.com/ZhenyaIlchenko"
          >
            <img class="git-image" src="./images/github.png" alt="git" />
          </a>
        </div>
      </li>
      <li class="group__item">
        <div class="img-wrap">
          <img
            class="group__item-photo"
            src="./images/5.jpg"
            alt="photo"
            width="255px"
          />
        </div>
        <div class="participant-info">
          <p class="participant-info__name">Васілієва Вікторія</p>
          <p class="participant-info__role">Developer</p>
          <a target="_blank" class="git" href="https://github.com/vesnika">
            <img class="git-image" src="./images/github.png" alt="git" />
          </a>
        </div>
      </li>

      <li class="group__item">
        <div class="img-wrap">
          <img
            class="group__item-photo"
            src="./images/9.jpg"
            alt="photo"
            width="255px"
          />
        </div>
        <div class="participant-info">
          <p class="participant-info__name">Богдан Ілля</p>
          <p class="participant-info__role">Developer</p>
          <a target="_blank" class="git" href="https://github.com/Tamplier7">
            <img class="git-image" src="./images/github.png" alt="git" />
          </a>
        </div>
      </li>

      <li class="group__item">
        <div class="img-wrap">
          <img
            class="group__item-photo"
            src="./images/what.jpg"
            alt="photo"
            width="255px"
          />
        </div>
        <div class="participant-info">
          <p class="participant-info__name">Мараренко Владислав</p>
          <p class="participant-info__role">Developer</p>
          <a target="_blank" class="git" href="https://github.com/Grimdot">
            <img class="git-image" src="./images/github.png" alt="git" />
          </a>
        </div>
      </li>

      <li class="group__item">
        <div class="img-wrap">
          <img
            class="group__item-photo"
            src="./images/8.jpg"
            alt="photo"
            width="255px"
          />
        </div>
        <div class="participant-info">
          <p class="participant-info__name">Гурильов Дмитро</p>
          <p class="participant-info__role">Developer</p>
          <a target="_blank" class="git" href="https://github.com/Hurylov">
            <img class="git-image" src="./images/github.png" alt="git" />
          </a>
        </div>
      </li>

      <li class="group__item">
        <div class="img-wrap">
          <img
            class="group__item-photo"
            src="./images/7.jpg"
            alt="photo"
            width="255px"
          />
        </div>
        <div class="participant-info">
          <p class="participant-info__name">Драганчук Олександр</p>
          <p class="participant-info__role">Developer</p>
          <a target="_blank" class="git" href="https://github.com/saviola1777">
            <img class="git-image" src="./images/github.png" alt="git" />
          </a>
        </div>
      </li>

      <li class="group__item">
        <div class="img-wrap">
          <img
            class="group__item-photo"
            src="./images/cat.jpg"
            alt="photo"
            width="255px"
          />
        </div>
        <div class="participant-info">
          <p class="participant-info__name">Конопаткін Денис</p>
          <p class="participant-info__role">Developer</p>
          <a
            target="_blank"
            class="git"
            href="https://github.com/IMissOdeToCode"
          >
            <img class="git-image" src="./images/github.png" alt="git" />
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>
