
<div class="backdrop-team hidden" data-modal>
    <div class="footer-modal-group container">
        <button type="button" class="footer-modal-close-btn" data-modal-close>
        <img src="./images/cross.svg" alt="close" width="20">
        </button>
        <h2 class="team-name"> Our Team </h2>
        <ul class="group list">
            <li class="group__item">
                <img class="group__item-photo" src="./images/1.jpg" alt="photo">
                <div class="participant-info">
                    <p class="participant-info__name">Бернатович Ярослав</p>
                    <p class="participant-info__role">Team-Lead</p>
                </div>

    
            </li>
            <li class="group__item">
                <img class="group__item-photo" src="./images/2.jpg" alt="photo" width="40" height="40">
                <div class="participant-info">
                    <p class="participant-info__name">Семашко Віталій</p>
                    <p class="participant-info__role">Scrum-master/Developer</p>
                </div>

              
            </li>
            <li class="group__item">
                <img class="group__item-photo" src="./images/3.jpg" alt="photo">
                <div class="participant-info">
                    <p class="participant-info__name">Книш Вячеслав</p>
                    <p class="participant-info__role">Developer</p>
                </div>

              
            </li>
            <li class="group__item">
                <img class="group__item-photo" src="./images/4.jpg" alt="photo">
                <div class="participant-info">
                    <p class="participant-info__name">Малярчик Альона</p>
                    <p class="participant-info__role">Developer</p>
                </div>

            
            </li>
            <li class="group__item">
                <img class="group__item-photo" src="./images/10.jpg" alt="photo">
                <div class="participant-info">
                    <p class="participant-info__name">Ільченко Євгенія</p>
                    <p class="participant-info__role">Developer</p>
                </div>

            </li>
            <li class="group__item">
                <img class="group__item-photo" src="./images/5.jpg" alt="photo">
                <div class="participant-info">
                    <p class="participant-info__name">Васілієва Вікторія</p>
                    <p class="participant-info__role">Developer</p>
                </div>

            </li>

            <li class="group__item">
                <img class="group__item-photo" src="./images/9.jpg" alt="photo">
                <div class="participant-info">
                    <p class="participant-info__name">Богдан Ілля</p>
                    <p class="participant-info__role">Developer</p>
                </div>
            </li>

            <li class="group__item">
                <img class="group__item-photo" src="./images/what.jpg" alt="photo">
                <div class="participant-info">
                    <p class="participant-info__name">Мараненко Владислав</p>
                    <p class="participant-info__role">Developer</p>
                </div>
            </li>

        </ul>
    </div>
</div>