<header class="header">
  <div class="container header-container-main">
    <div class="auth-link-wrap"></div>
    <div class="header-container-nav">
      <div class="header-container-icon">
        <a href="./index.html" class="logo-link">
          <svg class="form-item-icon" width="24" height="24">
            <use href="./images/icon.svg#icon-film"></use>
          </svg>
          <p class="logo-text">Filmoteka</p>
        </a>
      </div>

      <div class="header-container-nav">
        <nav class="nav-links">
          <ul class="list nav-links-list">
            <li class="nav-links-item">
              <a href="./index.html" class="link nav-link current">Home</a>
              <div class="hover-line"></div>
            </li>
            <li class="nav-links-item">
              <a href="./library.html" class="link nav-link">My Lybrary</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="search-form-container">
      <form class="search-form" id="search-form">
        <input
          type="text"
          name="searchQueue"
          class="input"
          placeholder="Movie search"
        />

        <button type="submit" class="btn">
          <svg class="form-item-icon-search" width="12" height="12">
            <use href="./images/icon.svg#icon-search"></use>
          </svg>
        </button>
      </form>
      <div class="auth-link-wrap"></div>
      <ul class="gallery"></ul>
      <p class="error is-hidden">
        Search result not successful. Enter the correct movie name.
      </p>
    </div>
  </div>
</header>
