<main>
  <section class="main-section">
    <div class="container">
      <h1 class="visually-hidden">Filmoteka</h1>
      <ul class="main-library-list js-main-library">
        <li class="main-library-item">
          <img
            src="https://image.tmdb.org/t/p/w300/94xxm5701CzOdJdUEdIuwqZaowx.jpg"
            alt="film poster"
            width="395"
            height="574"
            class="main-film-poster"
          />
          <h2 class="main-film-name">Заголовок фільма</h2>
          <p class="main-film-description">
            <span class="main-film-genres">Жанр</span> |
            <span class="main-film-premiere">Рік виходу</span>
          </p>
        </li>
      </ul>
      <div id="paginationhomepage" class="tui-pagination"></div>
    </div>
  </section>
</main>
