<main>
  <section>
    <div class="container">
      <h1 class="visually-hidden"></h1>
      <ul class="main-library-list js-main-library">
        <li class="main-library-item">
          <img src="" alt="film poster" class="main-film-poster" />
          <h2 class="main-film-name"></h2>
          <p class="main-film-description">
            <span class="main-film-genres"></span> |
            <span class="main-film-premiere"></span>
          </p>
        </li>
      </ul>
      <div id="paginationhomepage" class="tui-pagination"></div>
    </div>
  </section>
</main>
