<header class="header">
  <div class="container">
    <nav class="nav-links">
      <ul class="list nav-links-list">
        <li class="nav-links-item">
          <a href="./index.html" class="link nav-link current">Home</a>
        </li>
        <li class="nav-links-item">
          <a href="./library.html" class="link nav-link">My Lybrary</a>
        </li>
      </ul>
    </nav>

    <div>
      <ul class="list">
        <li class="">
          <button type="button" class="btn watched-btn">Watched</button>
        </li>
        <li class="">
          <button type="button" class="btn queue-btn">Queue</button>
        </li>
      </ul>
    </div>
  </div>
</header>
