<div class="modal">
  <div class="modal-cointeiner">
    <div class="modal-thumb-img">
      <button class="modal-close" data-modal-close><img src="/src/images/close.jpg" alt="button-close"></button>
      <img class="modal-img" src="/src/images/Rectangle 18.jpg" alt="">
    </div>
    <div class="modal-thumb-text">
      <h2 class="modal-title">A FISTFUL OF LEAD</h2>
      <ul class="modal-list">

        <li class="modal-item">
          <p class="modal-text">Vote / Votes</p>
          <p class="modal-texting"><span class="modal-rating-color">7.3</span>/1260</p>
        </li>

        <li class="modal-item">
          <p class="modal-text" p class="modal-text">Popularity</p>
          <p class="modal-texting">100.2</p>
        </li>

        <li class="modal-item">
          <p class="modal-text">Original Title</p>
          <p class="modal-texting">A FISTFUL OF LEAD</p>
        </li>

        <li class="modal-item">
          <p class="modal-text">Genre</p>
          <p class="modal-texting">Western</p>
        </li>

      </ul>
      <h3 class="modal-heading">About</h3>
      <p class="modal-text-p">Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the
        most corrupt settlement of
        the
        gold rush towns. But not all goes to plan one is killed and the other three escapes with bags of gold hide out
        in the
        abandoned gold mine where they happen across another gang of three – who themselves were planning to hit the
        very same
        bank! As tensions rise, things go from bad to worse as they realise the bags of gold are filled with lead...
        they’ve
        been double crossed – but by who and how? </p>
      <div class="modal-cointainer-btn">
        <button class="modal-button">add to Watched</button>
        <button class="modal-btn">add to queue</button>
      </div>

    </div>

  </div>
</div>