.auth-btn {
  position: absolute;

  top: 105px;

  font-family: inherit;
  border-radius: 5px;
  padding: 5px 10px;
  font-weight: 500;
  text-transform: uppercase;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  justify-content: center;
  background-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--mainWhite);
  border: 1px solid var(--mainWhite);
  width: 144px;
  transition: all $duration $timing-function;

  &:hover,
  &:focus {
    background-color: var(--accent);
    border: 1px solid var(--accent);
  }
  @media screen and (max-width: 768px) {
    top: 160px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.lib-btn {
  width: 130px;
  height: 44px;
  padding-top: 14px;
  padding-bottom: 12px;
  padding-left: 36.38px;
  padding-right: 36.38px;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  color: var(--mainWhite);
  text-transform: uppercase;
  border: 1px solid var(--mainWhite);
  border-radius: 5px;
  transition: background-color 250ms linear, border 350ms linear;
}

.lib-btn:focus,
.lib-btn:hover,
.current-btn {
  background-color: var(--accent);
  border: 1px solid var(--accent);
}

.current-lib-btn {
  background-color: var(--accent);
  border: 1px solid var(--accent);
}
