// .features-container {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   gap: 4px;
//   padding: 4px;
// }
.switcher-container {
  position: absolute;
  top: -215px;
  left: 20px;

  @include tablet {
    top: -197px;
    left: 32px;
  }
  // display: flex;
  // justify-content: flex-end;
  // width: 50%;
  // height: 50%;
  // background: var(--color-secondary);
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
}

/* The switch - the box around the slider */
#switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 20px;
}

/* Hide default HTML checkbox */
#switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 30px;
  width: 30px;
  left: 0px;
  bottom: 0px;
  top: 0;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0 0px 15px #2020203d;
  background: white url('https://i.ibb.co/FxzBYR9/night.png');
  background-repeat: no-repeat;
  background-position: center;
}

input:checked + .slider {
  background-color: #ff6b08;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ff6b08;
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
  background: white url('https://i.ibb.co/7JfqXxB/sunny.png');
  background-repeat: no-repeat;
  background-position: center;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
