.header-library-container {
  position: relative;
}

.header-library {
  padding-top: 40px;
  height: 230px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/src/images/header-bg-lib-mobile.jpg');

  @include retina {
    background-image: url('/src/images/header-bg-lib-mobile@2x.jpg');
  }

  @include tablet {
    height: 215px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/src/images/header-bg-lib-tablet.jpg');

    @include retina {
      background-image: url('/src/images/header-bg-lib-tablet@2x.jpg');
    }
  }

  @include desktop {
    background-image: url('/src/images/header-bg-lib-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @include retina {
      background-image: url('/src/images/header-bg-lib-desktop@2x.jpg');
    }
  }
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.lib-btn:not(:last-child) {
  margin-right: 15px;
}

.header-logo-container {
  display: flex;
  align-items: center;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 55px;

  @include tablet {
    margin-bottom: 40px;
  }
}
.nav-list {
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--mainWhite);
}

.nav-item {
  padding-top: 10px;
  position: relative;
}

.nav-item:not(:last-child) {
  margin-right: 40px;
}

.header-logo-container {
  align-items: center;
  display: flex;
}

.logo-text {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.17;
  display: none;
}

@media screen and (min-width: 480px) {
  .logo-text {
    display: block;
  }
}

.logo-link {
  color: var(--mainWhite);
  align-items: center;
  transition: color 0.25s $timing-function;
  display: flex;
}

.logo-link:hover {
  color: var(--accent);
}

.logo-svg {
  margin-right: 10px;
}
